.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #070721;
  margin: 0 0 20px 0;
}

.description {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #070721;
  margin: 0 0 20px 0;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .actions {
    flex-direction: row;
    justify-content: center;
    gap: 27px;
  }

  .actions > button {
    flex: 1;
  }
}
