.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #070721;
}

.message {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #070721;
}

.containerButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.buttonCancel,
.buttonLogout {
  border-radius: 64px;
  padding: 12px 16px;
  width: 164px;
  height: 46px;

  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;

  cursor: pointer;

  transition:
    background-color 250ms ease,
    color 250ms ease,
    transform 150ms ease;
}

.buttonCancel {
  border: 1px solid #070721;
  background: transparent;
  color: #070721;
}

.buttonLogout {
  border: none;
  background: #649179;
  color: #f7fffb;
}

.buttonLogout:hover {
  background: #374f42;
}

.buttonCancel:hover {
  background: #f7fffb;
}

.buttonLogout:active,
.buttonCancel:active {
  transform: scale(0.96);
}

.buttonLogout:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
