.container {
  width: 100%;
  max-width: var(--container-max-width); /* 1440px з globals.css */
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet (від 768px) */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop (від 1440px) */
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 108px;
    padding-right: 108px;
  }
}
