PORT=3001
FRONTEND_URL=http://localhost:3000
MONGO_URL=mongodb://127.0.0.1:27017/harmoniq
ACCESS_TOKEN_SECRET=replace_me
REFRESH_TOKEN_SECRET=replace_me
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
CLOUDINARY_CLOUD_NAME=fln5sysf
CLOUDINARY_API_KEY=156158736113531
CLOUDINARY_API_SECRET=BdRhv9gbUcvrU5sDNFCDZG6-YAg
NODE_ENV=development
