.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: grid;
  place-items: center;

  width: 100%;
  min-width: 0;
}