.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
}

.listItem {
  display: flex;
  min-width: 0;
  scroll-margin-top: 100px;
}

@media screen and (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
