.aboutSection {
  margin-bottom: 72px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 361px;
  margin: 0 auto;
}

.textCard {
  background-color: #d8e4dc;
  padding: 32px 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-family: var(--font-family-main), sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #1a2b22;
  line-height: 120%;
}

.description {
  font-family: var(--font-family-main), sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #2c3e35;
}

.lotusWrapper,
.friendsWrapper,
.meditationWrapper {
  width:361px;
  height: 365px;
  border-radius: 24px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.meditationWrapper {
  display: none;
}

/* --- Tablet (768px – 1199px) --- */
@media (min-width: 768px) {
  .container {
    max-width: 704px;
    display: grid;
    grid-template-columns: 1fr 280px;
    gap: 24px;
  }

  .textCard {
    width: 431px;
    gap: 32px;
    padding: 32px 32px;
  }

  .title {
    font-size: 32px;
  }

  .description {
    max-width: 368px;
    font-size: 16px;
    line-height: 1.55;
  }

  .lotusWrapper {
    height: 326px;
    width: 249px;
  }
  .friendsWrapper {
    grid-column: 1 / -1;
    height: 398px;
    width:704px;
  }
  .lotusWrapper .image {
    object-position: 35% 55%;
  }
}

/* --- Desktop (від 1200px) --- */
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .textCard {
    width: 496px;
    gap: 32px;
    padding: 32px 32px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    max-width: 430px;
    font-size: 16px;
    line-height: 1.55;
  }

  .lotusWrapper {
    height: 326px;
    width: 704px;
    margin-left: -316px;
  }

  .lotusWrapper .image {
    object-position: 50% 50%;
  }

  .friendsWrapper {
    grid-column: 1 / 2;
    width: 804px;
    height: 398px;
    border-radius: 32px;
  }

  .meditationWrapper {
    display: block;
    grid-column: 2 / 3;
    width: 388px;
    height: 398px;
    border-radius: 32px;
  }
}
