/* .page {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
  padding-block: 46px;
} */
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}
.user_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.avatar {
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.name {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-md);
  text-align: center;
  color: var(--color-dark);
}
