.wrapper {
  display: flex;
  align-items: center;
  padding: var(--spacing-2xs) 0;
}

.text {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  line-height: var(--line-height-main);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-main);
}
