.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  min-width: 0;

  padding: 85px 16px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  width: 100%;
  max-width: 360px;

  padding: 48px 24px;
  border-radius: var(--border-radius-card);

  flex-grow: 0;

  background-color: var(--color-bg-card-soft-green);
  color: var(--color-dark);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-md);
}

.subtitle {
  text-align: center;
}

.instructions {
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .page {
    padding: 120px 16px;
  }

  .pageWrapper {
    max-width: 522px;
    padding: 48px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding: 50px 16px;
  }

  .pageWrapper {
    max-width: 392px;
  }
}