@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.heroSection {
  padding-top: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 393px;
  margin: 0 auto 72px;
}

/* --- Mobile First (до 767px) --- */

.imageWrapper {
  height: 280px;
  width: 361px;
  margin: 0 auto;
  flex-shrink: 0;
}

.heroImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: var(--font-family-main), sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #374f42;
}

.italic {
  font-family: 'Merienda', serif;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Кнопки (Мобілка: 100% ширини) */
.btnPrimary,
.btnSecondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
  border-radius: 64px;
  font-family: var(--font-family-main), sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}

.btnPrimary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}

.btnSecondary {
  background-color: transparent;
  color: #374f42;
  border: 1px solid #374f42;
  transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}


@media (min-width: 768px) {
  .heroSection {
    padding-top: 16px;
    max-width: 704px;
    flex-direction: row;
  }

  .imageWrapper {
    order: 2;
    height: 383px;
    width: 430px;
    max-width: none;
  }

  .heroImage {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }

  .content {
    order: 1;
    margin-right: -100px;
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    text-wrap: inherit;
    height: 112px;
    width: 372px;
  }

  .btnPrimary,
  .btnSecondary {
    width: 249px;
    height: 57px;
    gap: 24px;
  }
}


@media (min-width: 1224px) {
  .heroSection {
    padding-top: 48px;
    max-width: 1224px;
  }

  .imageWrapper {
    order: 2;
    width: 805px;
    height: 561px;
    max-width: none;
  }

  .heroImage {
    width: 100%;
    height: 100%;
    max-width: none;
    object-fit: cover;
  }

  .content {
    margin-right: -180px;
    height: 389px;
    width: 599px;
  }

  .title {
    height: 112px;
    width: 372px;
    font-size: 92px;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 800;
    height: 276px;
    width: 599px;
  }

  .buttons {
    flex-direction: row;
  }
  .btnPrimary,
  .btnSecondary {
    width: 184px;
  }
  .btnPrimary:hover {
    background-color: #374f42;
  }
  .btnSecondary:hover {
    background-color: rgba(55, 79, 66, 0.05);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}
