.page {
  width: min(100% - 32px, 1200px);
  max-width: 330px;
  margin: 100px auto 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 32px;
  padding: 48px 32px;

  overflow: hidden;
  background-color: var(--color-bg-card-soft-green);
}

.loginTitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: var(--color-dark);
}

@media screen and (min-width: 768px) {
  .page {
    max-width: 522px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    max-width: 392px;
  }
}
