.section {
  min-width: 0;
}

.tabs {
  display: flex;
  overflow-x: auto;
  align-items: flex-end;
  gap: var(--spacing-lg);
  border-bottom: var(--border-width-sm) solid var(--color-gray-light);
}

.tab {
  position: relative;
  flex: 0 0 auto;
  padding: var(--spacing-xs) 0;
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  transition: color var(--transition-main);
}

.tab::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: var(--border-width-md);
  background-color: transparent;
  content: '';
  transition: background-color var(--transition-main);
}

.tab:hover,
.tab:focus-visible,
.active {
  color: var(--color-text-main);
}

.tab:focus-visible {
  border-radius: var(--border-radius-xs);
  outline: none;
  box-shadow: var(--focus-ring-shadow);
}

.active {
  font-weight: var(--font-weight-bold);
}

.active::after {
  background-color: var(--color-primary);
}

.content {
  min-width: 0;
  margin-top: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .tabs {
    gap: var(--spacing-xl);
  }

  .content {
    margin-top: var(--spacing-lg);
  }
}
